html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #cccccc;
  font-family: "Libre Baskerville", serif;
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  line-height: 150%;
}

h1, h2, h3 {
  font-family: "Work Sans", sans-serif;
  color: #d81b60;
}

h1 { font-weight: 300; }
h2 { font-weight: 500; }
h3 { font-weight: 700; }

img, table {
  display: block;
  margin: 1em auto;
  max-width: 100%;
  overflow: auto;
}

hr {
  border-style: solid;
  border-color: #515151;
  border-width: 0 0 1px 0;
}

a:not([name]) {
  font-weight: bold;
  text-decoration: none;
  color: #0000ff;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

/* http://code.iamkate.com/html-and-css/fixing-browsers-broken-monospace-font-handling/ */
pre, code {
  font-family: monospace, monospace;
  font-size: 1em;
}
