html {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #aeff80;
  font-family: "Libre Baskerville", serif;
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  line-height: 150%;
}

h1, h2, h3 {
  font-family: "Work Sans", sans-serif;
  color: #d81b60;
}

h1 { font-weight: 300; }
h2 { font-weight: 500; }
h3 { font-weight: 700; }

img {
  display: block;
  margin: 0 auto;
}

hr {
  border-style: solid;
  border-color: #d81b60;
  border-width: 0 0 1px 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #1888db;
}

/* https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/ */
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}
