<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Work+Sans:300,500,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ page.author }}">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
  </head>
  <body>
    {{ page.otherlang }} <a href="../en/{{ page.name | replace: ".md", ".html" }}">en</a> · <a href="../pl/{{ page.name | replace: ".md", ".html" }}">pl</a> · <a href="../jbo/{{ page.name | replace: ".md", ".html" }}">jbo</a>


    <hr />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async></script>
    {{ content }}
    <hr />
    <a href="index.html">{{ page.return }}</a> · {{ page.anyquestions}} <a href="mailto:lamisotanis@gmail.com">lamisotanis@gmail.com</a>.
  </body>
</html>
