<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700|Work+Sans:300,500,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ page.author }}">
    {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    {% endif %}
  </head>
  <body>
    {{ page.otherlang }}
    <a href="../de/{{ page.name | replace: ".md", ".html" }}">de</a>
    · <a href="../en/{{ page.name | replace: ".md", ".html" }}">en</a>
    · <a href="../fr/{{ page.name | replace: ".md", ".html" }}">fr</a>
    · <a href="../pl/{{ page.name | replace: ".md", ".html" }}">pl</a>
    <hr />
    {{ content }}
    <hr />
    <a href="credits.html">{{ page.credits }}</a>
    · {{ page.disclaimer }}
  </body>
</html>
